* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  height: 100vh;
}

header {
  margin: auto 0;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.nav h1 {
  font-size: 1.5rem;
}

.nav h2 {
  color: rgb(114, 109, 109);
  font-weight: 100;
  font-size: 0.6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

main {
  height: 100%;
}

.collage {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.collage-img {
  max-width: 20rem;
  max-height: 10rem;
}
